<% include header %>
<body>
        <p>This is the contact page.</p>
        <form>
            Let me know what you thought of the snake game:<br/>
            <input type="text" name="comments">
        </form>
        <br/>
        <br/>
<% include footer %>    