</body> 
<footer>
            <a href="https://github.com/LukeTownsend" target="_blank">
                <img id="githublogo" src="images/githubicon.png" alt="GitHub Icon">
            </a>
            <a href="https://bitbucket.org/luketownsend10/" target="_blank">
                <img id="bitbucketlogo" src="images/bitbucketlogo.png" alt="BitBucket Logo">
            </a>
            <a href="https://www.linkedin.com/in/luke-townsend-b792a4106/" target="_blank">
                <img id="linkedinlogo" src="images/linkedinlogo.png" alt="LinkedIn Logo">
            </a>
            <br/>
                Copyright © 2018 Luke Townsend
        </footer>
</html>