<% include header %>
<body>
        <header>
            <img class="rounded-circle mx-auto d-block" src="images/profilepic.jpg" alt="Profile Picture">
        </header>
    
    <main>
            <section class="section-header">
                <h2>Introduction</h2>
                <p>I am a junior in the field of Computer Science.</p>
            </section>
            <br/>
            <section id="past-section">
                <h2>Background</h2>
                <p>I am from King City, a small rural town about 35 minutes southeast of Maryville. I have lived in that area most of my life. 
                    I had a brief period a couple years ago where I lived in Panama City, Florida. Growing up I was into pretty much all forms of rock music,
                    but into the later years of high school I started to love electronic music. This growth into electronic music made me interested in becoming a DJ.
                    My freshman year of college I bought DJ equipment and taught myself how to work it all.</p>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/xxvN4b42RAQ" allowfullscreen></iframe>
            </section>
            <br/>
            <section id="future-section">
                <h2>Career Path</h2>
                <p>Music and computers have always been a passion of mine. I would love to work on music software, such as the ones I use to DJ.</p>
            </section>
            <br/>
            <section id="schedule">
                <h2>Schedule</h2>
                <p>Web Apps<br>
                Software Engineering Principles<br>
            </section>
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<% include footer %>