.rounded-circle {
    width: 10%;
    height: 10%;
}

#githublogo {
    width: 5%;
    height: 5%;
}

#bitbucketlogo {
    width: 5%;
    height: 5%;
}

#linkedinlogo {
    width: 3%;
    height: 3%;
}

iframe {
    display: block;
    margin: auto;
}

body {
    background-image: linear-gradient(to bottom right, green, blue);
}